{
  acme_ca https://acme-v02.api.letsencrypt.org/directory
  email ops@mahoosuc.ai
}

{$API_DOMAIN:localhost} {
  encode zstd gzip
  reverse_proxy api:8080
}

{$APP_DOMAIN:localhost} {
  encode zstd gzip
  reverse_proxy console:5173
}
